*.properties
Makefile
*.xml
build/xc8_PIC18F4550/production/configuration_bits.p1
*.p1
build/xc8_PIC18F4550/production/configuration_bits.p1.d
*.pre
nbproject/Package-xc8_PIC18F4550.bash
*.mk
dist/xc8_PIC18F4550/production/farmwater.X.production.sdb
*.rlf
*.sym
*.d
dist/xc8_PIC18F4550/production/farmwater.X.production.cmf
*.obj
dist/xc8_PIC18F4550/production/farmwater.X.production.mum
*.map
dist/xc8_PIC18F4550/production/farmwater.X.production.elf
*.hex
dist/xc8_PIC18F4550/production/farmwater.X.production.hxl
*.lst